body {
	background-color: #f2f2f2;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	margin: 0;

	text-align: center;
}

#center_holder {
	display: inline-block;
	text-align: left;
	min-width: 1010px;

	background-color: inherit
}

#sidebar {
	width: 250px;
	height: 101vh;	/* to force the scrollbar to be present, otherwise ugly appear/disappear offset when searching */
	display: inline-block;
	vertical-align: top;

	background-color: inherit;
	color: #737373;
	z-index: 30;

	/* the only use of this is to hide the overflowing shadow from the header */
	position: relative;
}

#toggle_lists {
	position:fixed;
	top: 60px;
	width: 233px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 110%;
}

#toggle_lists li{
	margin-bottom: 5px;
	padding: 3px;
	font-weight: bold;
	cursor: pointer;
}

#toggle_lists li:hover {
	background-color: #fff;
}

#toggle_lists input{
	vertical-align: bottom;
}

#content {
	width:760px;
	min-height: 100vh;
	display: inline-block;
	background-color: #fff;
	color: #202020;
}

#header {
	height:60px;
	width:inherit;
	z-index: 20;
	position: fixed;
	background-color: inherit;
	/*	
	box-shadow: -10px -7px 20px 0px #444;
	 Can't get this to work, because overflow-hidden just doesn't work with position fixed 
	 (stackoverflow: requires parent to be relative for shadowed child absolute)
	border-bottom: 1px solid lightgray;
	*/
}

#searchbox{
	position: absolute;
	top: 16px;
	left: 20px;
	width: 350px;
	padding: 3px 5px 4px 5px;
	font-style: italic;
	border: 1px solid #fff;	 /* #content bkg color */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#searchbox:hover{
	border-color: lightgrey;
}

#searchbox.borderColorGrey{
	border-color: lightgrey;
}

#searchbox input{
	border: none;
	padding: 0;
	margin: 0;
	width: 315px;
/*	position: absolute;
	top: 16px;
	left: 20px;
	width: 320px;
	padding: 3px 5px 4px 5px;*/
}

#searchbox input:focus{
	outline:none;
}

#searchbox img{
	position: absolute;
	top: 2px;
	right: 2px;
}

#lists_area {
	position: absolute;
	top:60px;
	width:inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px;
	background-color: inherit;
}

/*////////////////       todo-lists         /////////////*/

.todolist{
	display: inline-block;
	vertical-align: top;
	width:350px;
	margin-bottom: 10px;
	padding-bottom: 40px;

	padding-top: 9px;
	margin-left: 10px;
	margin-right: 10px;

	/*overflow:hidden;
	max-height: 500px;
	for sliding up the list, doesn't work. see http://stackoverflow.com/questions/3508605/css-transition-height-0-to-height-auto/8331169#8331169
	*/

	/* the only use of this is to get the trashbin to display correctly */
	position: relative;
}

/* set up the animation (fires when the ng-hide class is added/removed) */
.todolist.ng-hide-add, .todolist.ng-hide-remove {
	transition:0.4s all linear;
}

/* beginning of the animation */
.todolist.ng-hide-add-active, .todolist.ng-hide-remove-active {
	display:inline-block !important;  /* otherwise display will be block, which breaks the formatting */
}

/* end of the animation */
.todolist.ng-hide {
	width:0;
	/* it would be nice to have height:0 too, but doesn't work (see above) */
}

.todolist .trashbin{
	position: absolute;
	right: 6px;
	bottom: 6px;
}

.todolist .listName{
	text-align: center;
	font-size: 17px;
	font-family: cursive;
	color: #333333;

	margin-bottom: 7px;
}

.item{  
	cursor: pointer;
	min-height: 24px;
	/*margin-bottom: 1px;*/

	/* to prevent the text for centering when drag & drop */
	text-align: left;

	/* the only use of this is to get the icons inside to display correctly */
	position: relative;
}

.item.ng-leave{
	transition:0.4s all linear;
}

.item.ng-leave-active{
	opacity:0;
	min-height:0;
	height:0;
}

.item .description{

/*  Can't do that, otherwise item size won't adjust ot amount of text
    position: absolute;
    top: 3px;
    left: 22px;*/

    max-width: 260px;

    display: inline-block;
    padding-top: 4px;
    margin-left: 17px;
    margin-right: 5px;

    /* to facilitate editing item by clicking on it*/
    padding-right: 10px;
    min-width: 50px;
    min-height: 19px;
}

.item .description.completed{
	text-decoration: line-through;
}

.item .checkbox{
	width: 17px;
	height: 23px;

	position: absolute;
	top: 0;
	left: 0;
}

.checkbox .square{
	width: 8px;
	height: 8px;
	margin: 4px;
	margin-top: 7px;
	border: 1px solid #444444;
}

.checkbox .checkmark{
	margin-left: 4px;
	margin-top: 4px;
}

.newItem{
	color: #333333;
	font-style: italic;
	padding: 3px;
	padding-left: 19px;
	padding-top: 4px;
	cursor: pointer;
}

.newItem:focus{
	color:#202020;
	font-style: normal;
	padding-left: 17px;
}

.item .pin{
	position: absolute;
	right: 4px;
	top: 4px;
}

.item .setDateTime{
	position: absolute;
	right: 26px;
	top: 4px;
}

.dateTimeField{
	position: absolute;
	right: 0px;
	top: 0px;

	min-width: 16px;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;

	font-style: italic;
}

/* Has to be at the bottom of the css file, to override other cursor attributes */
.contenteditable{
	cursor: text;
	outline: 0px;
}

.opacityButton{
	opacity:.6;
	cursor: pointer;
}

.opacityButton:hover{
	opacity:1;
}