<div class="todolist sortable" ng-repeat="todolist in todos.lists" ng-show="todolist.show" style={{"background-color: rgb("+todolist.color+")"}} ng-style="{'background-color': 'rgb('+todolist.color+')'}">
  <div class="listName contenteditable" contenteditable>{{todolist.name}}</div>
  <div class='item' ng-repeat="item in todolist.items" ng-style="{'background-color': 'rgb('+todolist.color+')'}" data-color={{todolist.color}} data-activated='false'> 
    <div class='checkbox' data-checked='false'>  
      <div class='square hiddenIcon'></div><div class='checkmark'>✔</div>  
    </div>   
    <div class='description contenteditable' contenteditable>{{item.description}}</div>  
    <div class='setDateTime'>    
      <div class='contenteditable dateTimeField' contenteditable></div>    
      <img class='hiddenIcon opacityButton' src='img/calendar16.png' title='Set date/time'>  
    </div>    
    <img class='pin hiddenIcon opacityButton' src='img/pin16.png' data-pinned='false' data-dialogueExpanded='false' title='Pin item to main list'>    
  </div>
</div>